.place__paragraph_text {
    max-width: 484px;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    margin: 0;
}

@media screen and (max-width: 1124px) {
    .place__paragraph_text {
        max-width: 456px;
    }
}

@media screen and (max-width: 984px) {
    .place__paragraph_text {
        max-width: 352px;
    }
}

@media screen and (max-width: 568px) {
    .place__paragraph_text {
        max-width: 288px;
        margin: 0 auto;
    }
}