.photo-grid__list {
list-style-type: none;
display: grid;
max-width: 100%;
margin: 0;
padding-left: 0;
box-sizing: border-box;
grid-gap: 16px;
grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));

}

@media screen and (max-width: 1124px) {
    .photo-grid__list {
        grid-gap: 14px;
    }
}

@media screen and (max-width: 984px) {
    .photo-grid__list {

        grid-gap: 16px;
    }
}

@media screen and (max-width: 568px) {
    .photo-grid__list {
        max-width: 320px;
        padding: 0 16px;
        grid-gap: 12px;
    }
}