.photo-grid {
    display: grid;
    max-width: 100%;
    box-sizing: border-box;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
}


@media screen and (max-width: 1124px) {
    .photo-grid {
        grid-column-gap: 14px;
        grid-row-gap: 14px;

    }
}

@media screen and (max-width: 984px) {
    .photo-grid {
        max-width: calc(100% - 48px);
        padding: 0 24px;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
    }
}

@media screen and (max-width: 568px) {
    .photo-grid {
        max-width: 320px;
        padding: 0 16px;
        grid-row-gap: 12px;
    }
}