.lead {
    font-family: 'Inter', Arial, sans-serif;
    max-width: calc(100% - 296px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

@media screen and (max-width: 1124px) {
    .lead {
        max-width: calc(100% - 96px);
    }
}

@media screen and (max-width: 984px) {
    .lead {
        max-width: 100%;
        margin: 0;
    }
}