.lead {
    font-family: 'Inter', Arial, sans-serif;
    max-width: 984px;
    min-height: 1005px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0;
}

@media screen and (max-width: 1124px) {
    .lead {
        max-width: 928px;
        min-height: 962px;
    }
}

@media screen and (max-width: 984px) {
    .lead {
        max-width: 768px;
        min-height: 862px;

    }
}

@media screen and (max-width: 568px) {
    .lead {
        max-width: 320px;
        min-height: 406px;
    }
}