.footer__copyright {
max-width: 186px;
font-weight: 400;
font-size: 14px;
line-height: 16px;
text-align: right;
}

@media screen and (max-width: 568px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 14px;
        margin: 0;
    }
}
