.intro__text {
    max-width: 100%;
    min-height: 208px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 40px 0 33px;

}

@media screen and (max-width: 568px) {
    .intro__text {
        min-height: 520px;
        margin: 40px 0 34px;
    }
}