.place__website-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFF;
    transition: 0.6s;
}

.place__website-link:hover {
    opacity: 0.8;
}